@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('@/assets/fonts/Comfortaa/Comfortaa-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('@/assets/fonts/Comfortaa/Comfortaa-Bold.ttf');
    font-weight: 700;
}